* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
  
}

.categories-main:hover .categories-sub {
  display: block;
}

.categories-sub {
  display: none;

}

.categories-sub:hover {
  display: block;
}


.loginmenu {
  display: none;
}

.cursorpoints:hover .loginmenu {
  display: block;
}


.loginmenu:hover {
  display: block;
}

.threedotSubmenu {
  display: none;
}

.threedotSubmenu:hover {
  display: block;
}


.threedotbtn:hover .threedotSubmenu {
  display: block;
}


.product-sub-menu {
  display: none;
}

.product-sub-menu:hover {
  display: block;
}

.product-menu:hover .product-sub-menu {
  display: block;
}


.product-page-categories:hover .product-page-subcategories{
  display: block;
}

.product-page-subcategories:hover{
  display: block;
}

.product-page-subcategories{
  display: none;
}




.logos{
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  background: yellow;

}


.offerstrip {
  display: flex;
  animation-name: runningtext;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both; 
  
  
}

@keyframes runningtext {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}




.saves:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}



.product-Div:hover .lowe-info{
  /* bottom: 20px;
  height: 200px; */
  /* animation-name: varietydivanimation; */
  /* animation-duration: 5s; */
  /* animation-timing-function: ease-in-out; */

  /* display: flex; */
  
  /* animation-duration: 30s;
 
  animation-timing-function: linear;
  animation-fill-mode: both; 
   */
  
}


.roboto-serif-text {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}